.sidebar {
  padding: 3rem 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
  .news-wrap {
    background-color: $white;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .content {
      .title {
        font-size: 20px;
        font-weight: 700;
      }
      .text {
        font-size: 16px;
        margin-bottom: 0;
      }

      img {
        object-fit: contain;
      }
    }
  }

  .toglle-wrap {
    background-color: $white;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
    .btn-wrap {
      display: flex;
      justify-content: center;
      .toggle-btn {
          border: none;
          cursor: pointer;
          padding: 1rem 1.5rem;

          &:first-child{
            border-radius: 10px 0 0 10px;
          }

          &:last-child{
            border-radius: 0 10px 10px 0;
          }

        &.active {
          background-color: $primary-color;
        }
      }
    }
  }

  .feedback-wrap{
    background-color: $white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
